/* Large devices (desktops, 992px and up) */

@media (max-width: 1200px) {
  .portfolio__section--left__value {
    font-size: 22px;
  }

  .week-chart {
    font-size: 11px;
  }
}

@media (max-width: 767.98px) {}

/* Mobile Works Under 767.98p  */

@media (max-width: 767.98px) {
  .ri-container {
    width: 100%;
    padding: 0 12px;
  }

  body.page-auctions {
    background: #000;
  }

  body.page-details {
    overflow: hidden;
    background: #000;
    height: 100%;
  }

  html.page-details {
    height: 100%;
  }

  body.page-auctions {
    padding-right: 0;
    height: auto;
  }

  html.page-auctions {
    height: auto;
  }

  /* HEADER MOBILE */

  .header__left {
    flex-direction: column;
  }

  .header__content {
    height: auto;
    padding-top: 19px;
    padding-bottom: 15px;
  }

  .header__logo {
    margin-bottom: 12px;
  }

  .header__navbar {
    padding-left: 0;
    justify-content: space-between;
  }

  .header__navbar__item--active {
    position: relative;
    background: transparent;
  }

  .header__navbar__item {
    width: auto;
    margin-right: 0;
  }

  .header__navbar__item--active .header__navbar__link {
    color: #ffffff;
  }

  .header__navbar__item--active::before {
    content: "";
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    left: 47%;
    width: 3px;
    height: 3px;
    background: #d9d9d9;
  }

  .header__navbar__link {
    font-size: 13px;
  }

  /* AUCTIONS MOBILE */

  .auctions {
    height: auto;
    padding-top: 29px;
  }

  .auctions__header {
    margin-bottom: 52px;
  }

  .auctions__header {
    padding-left: 20px;
  }

  .content__header__icon {
    width: 65px;
    height: 65px;
  }

  .auctions__label {
    width: 141px;
    height: 34px;
  }

  .auctions__label--blue img {
    width: 52px;
  }

  .auctions__label--red .auctions__label__icon {
    bottom: 5px;
    left: 6px;
  }

  .auctions__label--red img {
    width: 28px;
  }

  .auctions__label__title {
    font-size: 13px;
  }

  .content__header__title {
    font-size: 18px;
  }

  /* For swipe */
  .auctions-details {
    padding-top: 0;
    height: calc(100% - 135px);
    position: relative;
  }

  .auctions-details .ri-container {
    height: 100%;
  }

  .auctions-details__content {
    height: 100%;
  }

  .auctions-details__content {
    padding-bottom: 0;
  }

  .auctions-details__right {
    padding: 4px 10px 14px 10px;
    height: 100%;
    /* max-height: 400px; */
    overflow: scroll;
  }

  /* AUCTIONS DETAILS MOBILE */

  .auctions-details__left {
    height: 412px;
    /* margin-top: 60px; */
  }

  .auctions-details__image {
    width: 75px;
    height: 87px;
    margin-bottom: 0;
  }

  .approved-icon {
    width: 16px !important;
  }

  .auctions-details__info__market img,
  .auctions-details__info__volume img,
  .auctions-details__info__supply img {
    width: 24px;
  }

  .auctions-details__info__supply {
    padding-top: 32px;
  }

  .auctions-details__info__cap {
    padding-top: 32px;
    padding-left: 35px;
  }

  .auctions-details__name {
    font-size: 20px;
    margin-bottom: 11px;
  }

  .auctions-details__info__volume {
    border: none;
    justify-content: center;
    display: flex;
    padding-left: 35px;
  }

  .auctions-details__title,
  .auctions-details__value {
    font-size: 15px;
  }

  .auctions-details__footer {
    width: 300px;
    transition: all 300ms ease-in-out;
    will-change: opacity;
  }

  .auctions-details__footer.auctions-details__footer--hidden {
    opacity: 0;
    visibility: hidden;
  }

  .auctions-details__list__title,
  .auctions-details__list__value,
  .auctions-details__info__title,
  .auctions-details__info__hours,
  .auctions-details__info__value,
  .auctions-details__info__pos-value,
  .auctions-details__info__neg-value {
    font-size: 12px;
  }

  .auctions-details__info {
    margin-top: 0;
    padding: 32px 8px;
  }

  .auctions-details__list__item {
    margin-bottom: 5px;
  }

  /* FUNDING MOBILE */
  .funding__container {
    margin-top: 12px;
  }

  .funding__buttons {
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
    z-index: 99999;
    padding-top: 0;
  }

  .funding__button-wrapper {
    margin-bottom: 14px;
  }

  .funding__button {
    width: 90px;
    font-size: 11px;
  }

  .deposit__section__mobile_class {
    margin-top: -105px;
  }

  .deposit__section__subtitle {
    margin-bottom: 30px;
  }

  .deposit__section {
    padding: 15px;
  }

  .withdraw__section {
    padding: 15px;
  }

  .chart__assets__row--header .funding__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .funding__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }

  .chart__assets__icons {
    width: 65px;
  }

  .chart__assets {
    padding: 0 16px 61px 16px;
    height: calc(100% - 153px);
  }

  .chart__assets__content--funding {
    height: 100%;
    overflow-y: auto;
    padding-top: 28px;
  }

  .chart {
    position: absolute;
    left: 104%;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .funding__item__subname {
    color: #425F99;
  }

  .assets__item__subname {
    color: #425F99;

  }

  .funding__items__content--right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .scrolling-block {
    height: 100%;
    width: 100%;
    overflow: hidden;
    touch-action: none;
    position: absolute;
    top: 0;
    transition: all 300ms ease-in-out;
    margin-top: 100px;
  }

  .scrolling-block:last-child {
    bottom: -100%;
    top: auto;
    margin-top: 0;
  }

  .scrolling-block.activiosa {
    height: 300px;
    margin-top: 0;
  }

  .scrolling-block.activiosa:last-child {
    height: calc(100% - 300px) !important;
    bottom: 0;
  }

  .funding__items__assets {
    padding: 15px 30px 15px 30px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 0;
  }

  .funding__assets__title {
    /* background: rgba(12, 12, 12, 0.89); */
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: env(safe-area-inset-bottom);
  }

  .funding__items__assets_back {
    transform: rotate(180deg);
    text-align: end;
  }

  /* TRADE */

  .trade__market__header {
    margin-top: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    padding: 2px 7px;
  }

  .trade__market__content--left {
    margin-bottom: 0;
  }

  .chart__assets__items__fixed {
    width: 450px;
  }

  .header__content__height {
    height: 130px;
  }

  .trade {
    height: calc(100% - 160px);
  }

  .market__item {
    font-size: 12px;
  }

  .order__tab {
    font-size: 14px;
  }

  .trade__market {
    padding-bottom: 0px;
  }

  .trade-details__container {
    position: relative;
    transition: transform 300ms ease-out 0s;
  }

  .trade-details__section--right {
    position: absolute;
    left: 104%;
  }

  .trade-details {
    overflow: hidden;
  }

  .trade-details__chart__image img {
    object-fit: cover;
  }

  .trade__market__weeks {
    font-size: 11px;
  }

  .trade__market__week {
    padding: 3.5px 8px;
  }

  .trade__market__header {
    margin-bottom: 0;
  }

  .trade__market__top {
    margin-bottom: 40px;
  }

  .portfolio__section--left__value {
    font-size: 14px;
  }

  .week-chart {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #d6d0d0;
    padding: 3px 8px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* .cashflow {
    padding-top: 29px;
  } */
  .cashflow__chart img {
    padding: 10px 35px;
  }

  .portfolio__section--left__title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0;
  }

  .portfolio__section__top {
    background: rgba(18, 16, 23, 0.8);
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #262345;
    border-radius: 15px;
    padding: 13px 18px;
    height: 200px;
  }

  .portfolio__assets__row--header {
    padding-left: 76px;
  }

  .page-portfolio {
    overflow: hidden;
  }

  .weeks div:not(:first-child) {
    padding: 0 7px;
  }

  .portfolio__chart img {
    padding: 10px 35px;
  }

  .portfolio__container {
    padding-top: 20px;
    padding-bottom: 51px;
  }

  .portfolio__assets__icons {
    width: 65px;
  }

  .assets__item {
    font-size: 14px !important;
  }

  .portfolio__assets__items {
    min-width: 673px;
  }

  .cashflow__title {
    font-size: 18px;
  }

  .cashflow__value {
    font-size: 14px;
    padding-top: 6px;
  }

  .contracts__item__name {
    font-size: 16px;
  }

  .contracts__numbers,
  .contract__revenue__value {
    font-size: 12px;
  }

  .contracts__text,
  .contract__revenue__title {
    font-size: 10px;
  }

  .portfolio__section--left {
    display: flex;
    flex-direction: column;
  }

  .portfolio__section--left>.row {
    height: calc(100% - 232px);
  }

  .portfolio__section--left>.row>.col-12 {
    height: 100%;
  }

  .portfolio--right {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .contracts {
    /* height: calc(100% - 238px); */
    height: 100%;
  }

  .contracts__container {
    height: 100%;
  }

  .portfolio {
    height: calc(100% - 135px);
  }

  .portfolio__assets {
    height: 100%;
  }

  .portfolio__buttons {
    display: flex;
  }

  html.page-trade-details {
    height: 100%;
  }

  .page-trade-details,
  .trade-details__container {
    height: 100%;
  }

  .trade-details {
    height: calc(100% - 130px);
  }

  .trade-details .ri-container {
    height: 100%;
  }

  .trade-details__container .row {
    height: 100%;
  }

  html.page-funding {
    height: 100%;
  }

  .page-funding {
    height: 100%;
    overflow: hidden;
  }

  .funding {
    height: calc(100% - 135px);
  }

  .funding .ri-container {
    height: 100%;
  }

  .funding__container {
    height: 100%;
  }

  .funding__container>.row {
    height: 100%;
  }

  .deposit {
    display: flex;
    flex-direction: column;
  }

  .chart {
    padding: 0;
  }

  .funding__section--left {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .funding__timeshift {
    font-size: 11px;
  }

  .funding__assets__icons {
    width: 65px;
  }

  .funding__assets__row--header {
    padding-left: 76px;
  }

  .funding__row {
    height: calc(100% - 290px);
  }

  .top__arrow {
    bottom: unset;
    top: 135px;
  }

  .funding__section--left {
    margin-top: 30px;
  }

  .funding__assets__items {
    min-width: 673px;
  }

  .activiosa {
    padding-top: 0;
    padding-bottom: 0;
  }
}