.header__navbar__link:hover {
  text-decoration: none;
}

.header__navbar__item--active:hover .header__navbar__link:hover {
  text-decoration: none;
}

.auctions-details__content {
  padding-bottom: 17px;
}

.auctions-details__left,
.auctions-details__right {
  background: #000000;
  border-radius: 25px;
}

.auctions-details__left {
  height: 750px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.auctions-details__right {
  padding: 64px 22px 64px 22px;
}

/* AUCTIONS PAGE INSIDE*/

.auctions-details__image {
  width: 136px;
  height: 155px;
  margin-bottom: 17px;
}

.auctions-details__image img {
  width: 100%;
}

.auctions-details__name {
  display: flex;
  justify-content: space-between;
  width: 222px;
  background: linear-gradient(182.17deg, #7d40b5 1.83%, #5742cf 119.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}

.auctions-details__footer {
  display: flex;
  justify-content: space-between;
  width: 355px;
}

.auctions-details__title {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
}

.auctions-details__value {
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #565283;
}

.auctions-details__footer__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.auctions-details__chart img {
  width: 100%;
}

.auctions-details__list {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #414656;
  padding-top: 20px;
}

.auctions-details__list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.auctions-details__list__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.auctions-details__list__value {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.auctions-details__info {
  margin-top: 16px;
}

.auctions-details__info__market {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
}

.auctions-details__info__volume {
  border-left: 2px solid #262631;
  border-right: 2px solid #262631;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.auctions-details__info__volume{
  padding-left: 32px;
}
.auctions-details__info__title {
  color: #9fa4b5;
  font-size: 14px;
}
.auctions-details__info__supply{
  padding-left: 8px;
}
.auctions-details__info__market img,
.auctions-details__info__volume img,
.auctions-details__info__supply img {
  width: 24px;
}

.approved-icon {
  width: 18px !important;
}

.auctions-details__info__value {
  color: #ffffff;
  font-size: 14px;
}

.auctions-details__info__pos-value {
  color: #16c784;
  font-size: 14px;
}

.auctions-details__info__neg-value {
  color: #c8534f;
  font-size: 14px;
}

.auctions-details__info__hours {
  background-color: #343544;
  color: #9fa4b5;
  border-radius: 4px;
  font-size: 14px;
}

.auctions-details__info__calc-perent {
  height: 6px;
  display: inline-block;
  position: relative;
  border-radius: 4px;
  background-color: #333543;
  width: 100%;
}

.auctions-details__info__calc-perent > span:first-child {
  display: inherit;
  background-color: #666b7d;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 91%;
}

.triangle {
  font-size: 10px !important;
}

.auctions-details__swipe-icon {
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 14px;
  left: 0;
  right: 0;
  transition: opacity 200ms ease-in;
  z-index: 9;
}

.auctions-details__swipe-icon.active {
  /* transform: rotate(180deg); */
  opacity: 0;
}

/* BID BUTTON */

.bid-button {
  padding: 5px 8px;
  width: 289px;
  height: 44px;
  border: 2px solid transparent;
  border-image: linear-gradient(
    to left,
    rgba(126, 63, 179, 1) 1%,
    rgba(85, 66, 208, 1) 100%
  );
  border-image-slice: 1;
  color: #d6d0d0;
  outline: none !important;
  background: #000000 !important;
  text-align: center;
}

.bid-button-wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 67px;
}

/* MODAL */

body.modal-open .modal {
  display: flex !important;
  height: 100%;
}

body.modal-open .modal .modal-dialog {
  margin: auto;
}

.modal-backdrop.in {
  opacity: 0.8;
}

.modal-content,
.modal-body__success {
  width: 100%;
  height: 657px;
  background: #000000;
  color: white;
}

.modal-header {
  border: none !important;
  justify-content: start;
  font-weight: 300;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.modal-footer {
  border: none !important;
  justify-content: space-between;
  margin-top: 205px;
}

.modal-dialog {
  width: 326px;
}

.modal__input input {
  padding: 15px 8px;
  width: 100%;
  background: linear-gradient(180deg, #161616 0%, #17161c 72.78%, #191724 100%);
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  position: relative;
}

.modal__input {
  width: 289px;
  height: 44px;
  margin-bottom: 24px;
}

.modal-body__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-bottom: 15px;
}

.modal-body__submit {
  margin-top: 35px;
  margin-left: 5px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #d6d0d0;
}

.modal__input__usd {
  position: absolute;
  top: 31px;
  right: 38px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: #5c556d;
}

.check-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.check-container .check-background {
  width: 100%;
  height: calc(100% - 1.25rem);
  transform: scale(0.84);
  border-radius: 50%;
  animation: animateContainer 0.55s ease-out forwards 0.55s;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  margin-top: 75px;
  margin-bottom: 28px;
}

.check-container .check-background svg {
  width: 65%;
  transform: translateY(0.25rem);
  stroke-dasharray: 80;
  stroke-dashoffset: 80;
  animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-container__title {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-bottom: 65px;
}

.check-container__paragraph {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #828898;
  width: 50%;
}

@keyframes animateContainer {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  25% {
    opacity: 1;
    transform: scale(0.9);
  }

  43.75% {
    transform: scale(1.15);
  }

  62.5% {
    transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@keyframes animateCheck {
  from {
    stroke-dashoffset: 80;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes animateShadow {
  0% {
    opacity: 0;
    width: 100%;
    height: 15%;
  }

  25% {
    opacity: 0.25;
  }

  43.75% {
    width: 40%;
    height: 7%;
    opacity: 0.35;
  }

  100% {
    width: 85%;
    height: 15%;
    opacity: 0.25;
  }
}
