/* FUNDING PAGE */

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__navbar__item--active {
  background: radial-gradient(137.7% 1080.43% at -26.35% -38.1%,
      #88c9ee 0%,
      #e7f6fc 22.4%,
      assets__item #b66de6 44.79%,
      #d1e6fb 81.77%,
      #92a1eb 100%);
  border-radius: 15px;
}


html.p .funding {
  overflow: hidden;
}

html.page-funding {
  height: 100%;
}

.page-funding {
  height: 100%;
}

.funding {
  height: calc(100% - 121px);
}

.funding .ri-container {
  height: 100%;
}

.funding__container {
  height: 100%;
  position: relative;
  transition: transform 300ms ease-out 0s;
}

.funding__container>.row {
  height: 100%;
}

/* START BUTTONS */
.funding__buttons {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.funding__button {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  background: #18171c;
  color: #d6d0d0;
  border-radius: 5px;
  padding: 5px 8px;
}

.funding__button-wrapper {
  border-radius: 5px;
  overflow: hidden;
  margin-right: 30px;
}

.funding__button.selected {
  border: 2px solid transparent;
  border-image: linear-gradient(to left,
      rgba(126, 63, 179, 1) 1%,
      rgba(85, 66, 208, 1) 100%);
  border-image-slice: 1;
  outline: none;
}

.funding__button__deposit {
  border: 2px solid transparent;
  border-image: linear-gradient(to left,
      rgba(126, 63, 179, 1) 1%,
      rgba(85, 66, 208, 1) 100%);
  border-image-slice: 1;
  outline: none;
}

/* END BUTTONS */

/* START DEPOSIT SECTION */
.deposit__section {
  color: white;
  padding: 10px 30px 30px 30px;
}

.deposit__section__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 4px;
}

.deposit__section__subtitle {
  color: #8b919d;
  font-size: 14px;
  margin-bottom: 16px;
}

.deposit__section__qr {
  border: 2px solid #202125;
  background: #141519;
  border-radius: 8px;
}

.deposit__section__qr-image {
  padding: 48px;
}

.deposit__section__qr-image img {
  width: 100%;
}

.deposit__section__address {
  border-top: 2px solid #202125;
  padding: 15px;
}

.address__container {
  display: flex;
  justify-content: space-between;
}

.address__container img {
  width: 18px;
}

.address__container__copy-img {
  cursor: pointer;
}

.address__container__address {
  color: #8b919d;
  font-size: 16px;
  word-break: break-word;
}

.deposit__section__comment {
  display: flex;
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  background: #141519;
  border-radius: 8px;
  margin-top: 20px;
}

.deposit__section__comment img {
  width: 18px;
  margin-right: 10px;
}

/* END DEPOSIT SECTION */


/* START WITHDRAW SECTION */

.withdraw__section {
  padding: 10px 30px 50px 30px;
}

.withdraw__section__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 8px;
}

.withdraw__section__subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 8px;
}

.amount__container {
  padding: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount__container__cad {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b919d;
}

.amount__container__num {
  font-weight: 500;
  font-size: 56px;
  line-height: 68px;
  color: #8b919d;
}

.amount__container__value {
  font-weight: 500;
  font-size: 56px;
  line-height: 68px;
  color: #4672ed;
}

.amount__container__cad_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
}

.amount__container__cad_content img {
  width: 32px;
  padding-bottom: 2px;
}

.percentage__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 24px;
}

.percentage__container__item {
  background: #141519;
  border: 2px solid #202125;
  border-radius: 10px;
  padding: 9px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.percentage__container__item:last-child {
  margin-right: 0;
}

.withdraw__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.withdraw__content__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  padding-bottom: 20px;
}

.withdraw__content__value {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #334063;
  padding-bottom: 20px;
}

.withdraw__section__select select {
  color: #334063;
  background: #141519;
  border: 2px solid #202125;
  border-radius: 10px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
  padding: 20px 20px 20px 81px;
}

.withdraw__section__select {
  position: relative;
}

.withdraw__section__select:after {
  content: url("../assets/arrow-down.svg");
  color: #726a89;
  top: 17px;
  right: 11px;
  position: absolute;
  pointer-events: none;
}

.select__to {
  position: absolute;
  left: 11px;
  top: 17px;
}

select option {
  width: 100% !important;
}

.withdraw__section__select img {
  width: 10px;
}

/* END WITHDRAW SECTION */



/* CHART SECTION WITH ASSETS */
.chart__assets__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.funding__items__assets {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 15px;
}

.funding__items__assets.funding__items__assets--mobile.activiosa .notOnActive {
  display: none;
}

.funding__items__assets.funding__items__assets--mobile .onlyOnActive {
  display: none;
}

.funding__items__assets.funding__items__assets--mobile.activiosa .onlyOnActive {
  display: block;
}


.funding__item__percentage,
.funding__item__usd {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #5E5D74;
  opacity: 0.5;
  margin-left: 8px;
}

.funding__item__subname {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #c0c0c0;
  margin-left: 8px;
}

.funding__items__content--left,
.funding__items__content--right {
  background: rgba(0, 0, 0, 0.56);
  border-radius: 30px;
}

.funding__items {
  width: 100%;
  display: flex;
  overflow: auto;
}

.funding__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
}

.chart__assets__row--header .funding__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.funding__items__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  max-width: 120px;
}

.funding__assets__icons {
  width: 120px;
  flex-shrink: 0;
}

.funding__assets__icon {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #1e1d1d;
}

.funding__assets__icon img {
  width: 25px;
  height: 25px;
}

.assets__items {
  width: 100%;
  display: flex;
  min-width: 820px;
}

.assets__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  align-items: baseline;
}

.fassets__items__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  max-width: 120px;
}

.funding__assets__items__scrollable {
  width: 100%;
  overflow: auto;
}

.funding__assets__row--header {
  position: sticky;
  top: 0;
  left: 0;
  background: #000;
  z-index: 999;
  padding-left: 120px;
  overflow: auto;
}

.assets__item__percentage,
.assets__item__usd {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #c0c0c0;
  opacity: 0.5;
  margin-left: 8px;
}

.assets__item__subname {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #c0c0c0;
  margin-left: 8px;
}

.funding__assets__row {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e1d1d;
}

.funding__assets__icon {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #1e1d1d;
}

.funding__assets__icon img {
  width: 25px;
  height: 25px;
}

.assets__items {
  width: 100%;
  display: flex;
  /* overflow: auto; */
  min-width: 820px;
}

.assets__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  align-items: baseline;
}

.funding__assets__row--header .assets__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.funding__column {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.funding__row {
  height: 100%;
  overflow: hidden;
}

.funding__timeshift {
  justify-content: end;
  color: #D6D0D0;
  background: #18171C;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  margin: 8px 16px 0 0;
}

.funding__timeshift--active {
  color: #3E64CE;
}

.funding__section--left {
  height: 722px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.56);
  border-radius: 30px;
}

.funding__items__content--right {
  display: flex;
  flex-direction: column;
  height: 722px;
}

.funding__chart img {
  width: 100%;
}

.funding__section__top {
  padding-bottom: 50px;
}

.funding__assets {
  height: 100%;
  border-radius: 30px;
  overflow-y: auto;
  padding: 0 16px 21px 16px;
  margin-bottom: 30px;
}

.funding__assets__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.funding__assets__items {
  min-width: 820px;
}

.assets__item--clickable {
  cursor: pointer;
}

/* MODAL */
body.modal-open .funding__modal {
  display: flex !important;
  height: 100%;
}

body.modal-open .modal .modal-dialog {
  margin: auto;
}

.funding__modal {
  z-index: 99999;
}

.modal-backdrop.in {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.modal-body__wrapper {
  width: 100%;
  height: 685px;
  /* background: rgba(0, 0, 0, 0.7); */
  background-color: red;
  backdrop-filter: blur(10px);
  color: white;
}

.modal-footer,
.modal-header {
  border: none !important;
}

.modal-dialog {
  width: 384px;
}

.modal-content {
  background: rgba(0, 0, 0, 0.7);
}


/* MODAL SEARCH */

.modal-search {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-search input {
  background: #13131E;
  border-radius: 25px !important;
  border: none !important;
  outline: none !important;
  width: 66% !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.8);
  padding: 7px 15px;
}

.modal-search input:-webkit-autofill {
  background-clip: text;
}

.modal-body {
  padding: 0 !important;
  overflow-y: scroll;
  height: 603px;
}

/* MODAL CONTENT ASSETS */

.assets__search__item {
  border-radius: 15px;
  cursor: pointer;
}

.assets__search__item:hover {
  background: rgba(19, 19, 30, 0.71);
}

.assets__item--left {
  display: flex;
  align-items: start;
}

.assets__item--right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.assets__name {
  display: flex;
  flex-direction: column;
}

.assets__name__main {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding-bottom: 3px;
}

.assets__name__secondary {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba(118, 113, 146, 0.58);
}

.assets__image {
  padding-right: 13px;
}

.assets__image img {
  width: 37px;
}


.assets__search__row {
  padding: 10px;
}

.tornike {
  background-color: rgb(102, 98, 98);
  opacity: 0.8;
}