.page-portfolio {
  background: #000000;
}

/* PORTFOLIO ACTIVE HEADER */
.header__navbar__item--active {
  background: radial-gradient(
    137.7% 1080.43% at -26.35% -38.1%,
    #88c9ee 0%,
    #e7f6fc 22.4%,
    assets__item #b66de6 44.79%,
    #d1e6fb 81.77%,
    #92a1eb 100%
  );
  border-radius: 15px;
}

/* PORTFOLIO CHART */

.portfolio__chart img {
  width: 100%;
}

.portfolio__chart {
  margin-bottom: 85px;
}

/* MARKET PLACE  */
.portfolio__assets {
  height: 418px;
  /* height: 100%; */
  border-radius: 30px;
  overflow-y: auto;
  padding: 21px 16px 21px 16px;
}

.portfolio__assets__content {
  display: flex;
  align-items: center;
  width: 100%;
}

.portfolio__assets__title {
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 15px;
}

.portfolio__assets__items {
  min-width: 820px;
}

.portfolio__assets__items__scrollable {
  width: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.assets__item__percentage,
.assets__item__usd {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #c0c0c0;
  opacity: 0.5;
  margin-left: 8px;
}

.assets__item__subname {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #c0c0c0;
  margin-left: 8px;
}

.portfolio__assets__row {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1e1d1d;
}

.portfolio__assets__icons {
  width: 120px;
  flex-shrink: 0;
}

.portfolio__assets__icon {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #1e1d1d;
}

.portfolio__assets__icon img {
  width: 25px;
  height: 25px;
}

.assets__items {
  width: 100%;
  display: flex;
  overflow: auto;
}

.assets__item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  align-items: baseline;
}

.portfolio__assets__row--header .assets__item {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.assets__items__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  min-width: 0;
  max-width: 120px;
}

/* CASHFLOW*/

.cashflow {
  height: 238px;
  background: rgba(18, 16, 23, 0.8);
  border: 1px solid #262345;
  border-radius: 15px;
  color: white;
  margin-bottom: 49px;
}

.cashflow__content {
  padding: 13px 18px;
}

.cashflow__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
}

.cashflow__value {
  color: #bbbafb;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 11px;
}

.week {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #d6d0d0;
  padding: 3px 8px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.week-chart {
  font-size: 13px;
  color: #d6d0d0;
  padding: 3px 8px 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weeks div:not(:first-child) {
  padding: 0 20px;
}

.week--purple {
  border-radius: 5px;
  border: 1.5px solid #483aa9;
}

.cashflow__chart img {
  width: 100%;
  padding: 29px 32px;
}

/* CONTRACTS */

.contracts__container {
  height: 465px;
  overflow-y: auto;
  overflow-x: hidden;
}

.contracts__title {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin-bottom: 29px;
}

.contracts__item {
  background: rgba(18, 16, 23, 0.8);
  border: 1px solid #262345;
  border-radius: 15px;
  color: white;
  height: 119px;
  margin-bottom: 36px;
  position: relative;
}

.contract__chart img {
  width: 100%;
}

.contracts__item__image img {
  width: 42px;
}

.contracts__numbers {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.contracts__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #5e5d74;
}

.contracts__item__component {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #c0c0c0;
}

.contracts__item__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 8px;
}

.border_line {
  width: 84px;
  height: 0px;
  left: 237px;
  top: 29px;
  border: 1px solid #6b6e7d;
  transform: rotate(90deg);
}

.contract__revenue__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #463f72;
}

.contract__revenue__value {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.border-line {
  position: absolute;
  width: 84px;
  height: 0px;
  left: 39%;
  top: 68px;
  border: 1px solid #6b6e7d;
  transform: rotate(90deg);
}

.portfolio__section--left__title {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #4a4e59;
  margin-bottom: 13px;
}

.portfolio__section--left__value {
  background: linear-gradient(91.1deg, #ec95e3 -46.82%, #93a1eb 120.97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
}

.portfolio__buttons {
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(12, 12, 12, 0.89);
  height: 47px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: env(safe-area-inset-bottom);
}

.portfolio__button {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  padding: 5px 8px;
}

.portfolio__button--crypto {
  margin-right: 22px;
}

.portfolio__button.selected {
  border-radius: 5px;
  border: 1.5px solid #483aa9;
}

html.page-portfolio {
  height: 100%;
}

body.page-portfolio {
  height: 100%;
}

.portfolio .container {
  height: 100%;
}

.portfolio__container {
  height: 100%;
}

.portfolio__container > .row {
  height: 100%;
}

.portfolio__section--left {
  height: 100%;
}

.portfolio {
  height: calc(100% - 121px);
}
